.landingPage {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.landingPageHead {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
}

.landingPageBody {
  height: 85%;
    color: #fff;
    background: url(../../assets/headphone-call-center-hotline-computer-office-help-desk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(50%, 50%)); */
}

.landingBodyLeft, .landingBodyRight, .landingBodyButton {
    display: flex;
    width: calc(100%/2);
}

.landingBodyLeft {
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
}

.landingBodyLeft p {
    font-size: 30px;
    line-height: 60px;
    position: relative;
}

.landingBodyLeft p hr {
    width: 30%;
    border: 0;
    border-bottom: 5px solid #fff;
    position: absolute;
    text-align: left
}

.landingBodyLeft h1 {
    font-weight: 600;
    font-size: 80px;
    line-height: 1em;
}

.landingBodyLeft h1:nth-of-type(1) {
    margin-top: 25px;
}

.landingBodyLeft h1:nth-of-type(2) {
    margin-bottom: 30px;
}

.landingBodyButton {
    gap: 20px;
}