.tabs {
    width: 100%;
    margin-bottom: 30px;
}

.tabs table {
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    font-weight: 400;
    font-size: 14px;
    border-collapse: separate;
    border-spacing: 0;
}

.tabs table td {
    width: 25%;
    cursor: pointer;
    /* text-align: center; */
    padding-bottom: 15px;
}

.tabs table td:nth-of-type(2),.tabs table td:nth-of-type(3), .tabs table td:nth-of-type(4) {
     text-align: center;
}

.tabs table td:nth-of-type(3) {
    padding-left: 40px;
}

.tabs table td:hover, .tabs table td:focus, .tabs table td:active {
    color: #9A198C;
    font-weight: 600;
    border-bottom: 3px solid #9A198C;
    width: 10px;
}

