.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
    height: 70px;
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.56);
    background-color: rgba(196, 196, 196, 0.2);
    background-image: url(../../../assets/dropdown_icon.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 10px;
    padding-left: 30px;
    border: 0;
    border-radius: 20px;
    margin-bottom: 12px;
}