.linkcard {
    font-family: 'Poppins';
    margin-bottom: -12px;
}

.linkcard div {
    background: #fff;
    height: 78px;
    width: 450px;
    box-shadow: 0px 4px 15px #E5E5E5;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.linkcard p {
    font-weight: 400;
    font-size: 14px;
    color: #565456;
}


@media screen and (max-width: 550px) {
    .linkcard {
        padding-left: 20px;
    }

}  