.adminSidebar {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 13em;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0px 4px 20px #E5E5E5;
}

.links {
    display: flex;
    padding: 2rem 0;
    padding-top: 5rem;
    flex-direction: column;
}

.links ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
}

.links ul li {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    height: 3rem;
    cursor: pointer;
    padding-left: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.links ul li:hover {
    background: #9A198C;
    color: white;
    border-radius: 10px;
}

.links ul li:hover a {
    color: white;
}


.links ul li a {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.links ul li span {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.links ul li a svg {
    margin-right: .5rem;
    margin-top: .1rem;
}

.links ul li span svg {
    margin-right: .5rem;
    margin-top: .1rem;
}

.links .active {
    background: #9A198C;
    color: white;
    border-radius: 10px;
}

.inner {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    color: white;
    background: #9A198C;
}

.inner ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
}

.inner ul li {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    height: 2rem;
    cursor: pointer;
    padding-left: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.inner ul li a {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.inner ul li span {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

@media screen and (max-width: 550px) {
    .adminSidebar {
        width: 10em;
    }

    .adminSidebar main {
        padding-left: 0px;
    }

}